@charset "UTF-8";

/* Estilo para Mobile First */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgray;
}
/*INÍCIO CANEÇALHO*/
header{
    background-color: darkgray;
}


header > h1{
    padding: 10px;
    text-align: center;
}

#hamburguer{
    background-color: rgb(71, 71, 71);
    color: white;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#hamburguer:hover{
    background-color: rgb(107, 107, 107);
    color: black;
}

menu{
    display: none;
}

menu li{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(99, 99, 99, 0.288);
    text-align: center;
    color: azure;
    border: 1px solid black;
}

menu li a:hover{
    background-color: gray;
}
/*FIM CANEÇALHO*/
/*INÍCIO MAIN*/
main{
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    margin: 10px auto 0px;
}

main h2{
    padding-bottom: 30px;

}

main > article > p{
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}