@charset "UTF-8";

/* Estilo para Mobile */

:root{      /* declaração de variáveis*/
    --cor_1: rgb(44, 44, 44);
    --cor_2: rgb(94, 94, 94);   
    
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;         /* a borda faz parte da conta de largura da tela*/
    
}

body, html{
    background-color: var(--cor_1);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;   /* não deixa vazar coisas das boxes filhas*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.726);

    transition: width .3s, height .3s;          /* causa uma transição (animação) na variação da temanho da box*/
    transition-timing-function: ease;           /* deixa a transição mais suave */
}

#imagem{
    background-color: var(--cor_2);
    background-image: url(../imagens/akyurt.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#formulario{
    display: block;
    padding: 10px;


}

fieldset{
    padding: 10px;
}

#formulario h1{
    text-align: center;
    margin-bottom: 10px;

}

#formulário p{
    font-size: 0.8em;
}

form input[type=submit]{       /* configurações do botão submit do formulário*/
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    border: none;
    background-color: var(--cor_1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}

form input[type=submit]:hover{
    background-color: var(--cor_2);
    
}

#ilogin{
    width: 60%;
}

#isenha{
    width: 60%;
}

#esqueciSenha{
    text-align: center;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    text-decoration: none;
    color: black;
    background-color: var(--cor_2);
    margin-top: 10px;
    border-radius: 5px;
}

#esqueciSenha i{ /* alterações no ícone do google icons*/
    font-size: 0.8em;
}

#esqueciSenha:hover{
    background-color: var(--cor_1);
}