@charset "utf-8";

:root{      /* declaração de variáveis*/
    --fonte_padrão: Verdana, Geneva, Tahoma, sans-serif;
    --fonte_destaque: 'Passion One', cursive;
    --fonte_main: 'Sriracha', cursive;
    
}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/
    font-size: 1em;
}

html, body{     /* configurações em comum para html e body*/
    height: 100vh;
    width: 100vw;
    
}

section{
    height: 100vh;
    position: relative;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;
    
}

iframe{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

aside{
    text-align: right;
    margin-right: 15px;
}

aside a{
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    
}

aside img{
    width: 100%;  
    border-radius: 50%;  
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
    box-sizing: border-box;         /* a borda passa a fazer parte do objeto. Isso melhora a configuração CSS do 'a:hover'*/

}

aside a:hover img{
    border: 2px solid rgba(255, 255, 255, 0.753);
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.541);
    transition: transform 0.3s;         /* cria uma animação de 0.3s no objeto 'transform'*/
    transition: border 0.2s;
}

