@charset "utf-8";

@font-face {        /* incluindo uma fonte externa*/
    /*
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf');       
    font-weight: normal;
    font-style: normal;
    */
}


:root{      /* declaração de variáveis*/
    
    --fonte_padrão: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*
    --fonte_destaque: 'Bebas Neue', cursive;
    --fonte_android: 'Idroid';

    --cor_0:  #84E1AD;
    --cor_1:  #3CD782;
    --cor_2: #7ad8a47e;
    --cor_3:  #1A5C38;
    --cor_4:  #1a5c3879;
    */

}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/
}

body{
    font-family: var(--fonte_padrão);
    font-size: 1em;
}

#a{
    display: inline-block;    
    width: 6px;     
    margin-left: 36px;
}
#b{
    display: inline-block;
    margin-left: -6px;
    width: 30px;
}
#c{
    display: inline-block;
    margin-left: -6px;
    width: 55px;
}
header{
    border: 1px solid black;    
    background-image: url(../imgens/fundo.png);
    background-repeat: no-repeat;
    background-size: contain;   /* a imagem ocupa 100% da box pai*/         
    background-repeat: repeat-x;
    height: 40vh;
       
    
}

header h1{
    font-size: 1.5em;
    margin-left: 35px;
    margin-top: 8vh;
    margin-bottom: -20px;
    color: white;
}
header h2{
    font-size: 3em;
    margin-top: -19px;
    color: white;

}

header div{
    width: 70vw;
    height: 100%;
    margin: 0px auto;
    position: relative;
    border: 1px solid black;
}


#cabecalho{
    position: absolute;         /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    size: 30%;
    top: 10%;             /* distância da âncora do conteudo em relação à margem superior do container*/
    right: 0%;              /* distância da âncora do conteudo em relação à margem esquerda do container*/ 
    
}

main{
    width: 70vw;
    margin: 0px auto;
}

main div{
    border: 1px solid black;
    width: 30%;
    height: 70vh;
    text-align: center;
    margin: 0px 10px;
}

#janela1{
    float: left;
}

#janela2{
    float: left;
}

#janela3{
    float: left;
}

footer{
    clear: both;
    text-align: center;
    background-color: #294C71;
}