@charset "utf-8";

:root{      /* declaração de variáveis*/
    
    --fonte_padrão: Helvetica, sans-serif;
    --cor_0:  #294c71;
    --cor_1: red;
    --cor_2: #dfdfdf;
    /*
    
    --cor_1:  #3CD782;
    --cor_2: #7ad8a47e;
    --cor_3:  #1A5C38;
    --cor_4:  #1a5c3879;
    */

}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/
}

body{
    font-family: var(--fonte_padrão);
    font-size: 1em;
}


header{    
    background-image: url(../imgens/fundo.png);
    background-repeat: no-repeat;
    background-size: contain;   /* a imagem ocupa 100% da box pai*/   
    background-repeat: repeat-x;
    height: 40vh;
    
}


#cabecalho{
    width: 70vw;
    height: 75%;
    margin: 0px auto;
    background-image: url(../imgens/detalhe-topo.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;   /* a imagem ocupa 100% da box pai*/ 
    
   
}

#cabecalho div#letra{
    float: left;
    background-position: center center;
    background-image: url(../imgens/logo.png);
    background-repeat: no-repeat;
    background-size: contain;   /* a imagem ocupa 100% da box pai*/ 
    height: 80%;
    width: 20%;

}


nav{
    width: 70vw;
    height: 30%;
    margin: auto;
    overflow: hidden;          /* elimina a distinção entre a flutuação das caixas fultuantes e sua box pai, mantendo tudo numa mesma delimitação*/
}

header ul{
    list-style: none;               /* tira os seletores das listas*/
    width: 100%;
    height: 100%;
   
}

header li{           
    display: inline;
    width: 80px;  
    height: 100%;  
    padding: 10px 15px;
    margin: 0px -3px;
    background-color: red;
    border-left: 2px solid rgba(124, 7, 7, 0.308);
    border-right: 1px solid rgba(80, 4, 4, 0.459);
    
}

#primeiro{
    border: none;
}

header a{
    text-decoration: none;       /* tira o sublinhado*/
    text-align: center;        
    color: var(--cor_2);
    font-size: 0.8em;
    line-height: 2.1em;
}


header li:hover a{
    color: rgba(255, 146, 146, 0.781);
}


main{
    width: 70vw;
    margin: 0px auto;
    font-family: 'Times New Roman', Times, serif;
}

main ul{
    list-style: none;               /* tira os seletores das listas*/
}

main a{
    text-decoration: none;       /* tira o sublinhado*/
    color: rgb(77, 0, 0);
}

main li{
    display: inline-block;
}

main li:hover{
     background-color: var(--cor_2);
     cursor: pointer;
}


main a img{
    float: left;
    width: 40%;
}

main a p{
    font-size: 0.8em;
}

aside{
    
    background-image: url(../imgens/fundo-caixa.png);

}
section{
    
    background-image: url(../imgens/fundo-caixa.png);

}

main h1{
    background-color: var(--cor_0);
    color: white;
    padding: 5px;
    font-size: 1.2em;
    margin-bottom: 15px;

}

main h2{
    background-color: var(--cor_1);
    padding: 5px;
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
}

main h3{
    font-size: 0.9em;
    padding: 5px;
    display: block;
    margin-bottom: 5px;
    color: rgb(58, 58, 255);
}

main img{
    width: 98%;
    border: 2px solid var(--cor_2);
}

#janela1{
    float: left;
    width: 20%;
    margin-right: 7%;
}

#janela2{
    float: left;
    width: 35%;
}

#janela3{
    margin-left: 65%;
    width: 35%;
}

aside a{
    font-size: 0.8em;
    line-height: 30px;
    display: block;
    color: black;    
    
}

aside a:hover{
    color: #a1a1a1;
    background-color: #f9f9f9;
    background-image: url(../imgens/marcador.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

article{
    width: 95%;
    background-color: white;
    margin: 2px auto;
    padding: 0px 2px;
    margin-bottom: 10px;
    border-bottom: 2px solid #c7c7c785;
    
    
}

label{
    display: block; 
    cursor: pointer;
}

input{
    font-size: 0.8em;
    padding: 5px;
    background-color: #f9f9f9;

}

input.enviar{
    border-radius: 5px;
    background-color: #294c71;
    color: #dfdfdf;
}

.email{
    width: 80%;
}

article p{
    padding: 0px 3px;
}
footer{
    clear: both;        /* caso tenha algum elemento flutuando à esquerda ou direita, limpa o contexto e fica a baixo dos elementos flutuantes*/
    text-align: center;
    background-color: var(--cor_0);
    
}

footer h1{
    padding: 5px;
    font-size: 1.1em;
    color: white;
}