@charset "utf-8";
@font-face {        /* incluindo uma fonte externa*/
    font-family: 'Opti';
    src: url('../fonte/OPTIWorcesterRoundSLItalic.otf');       
    font-weight: normal;
    font-style: normal;
}

:root{      /* declaração de variáveis*/
    --fonte_padrão: Arial, Helvetica, sans-serif;
    --fonte_destaque: 'Opti', sans-serif;
   
    --cor_0:  #4d2222;
    --cor_1:  #2c0d0d;
    --cor_3: rgb(219, 219, 219);
    --cor_4: rgb(131, 131, 131);
    
   
}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/
    
}
h1{
    text-align: center;
}
h1, h2, h3{
    color: var(--cor_0);
}

body{
    font: normal 400 1em var(--fonte_destaque);     /* shorthand font: font-style -> font-weight -> font-size -> font-family*/
    background-color: var(--cor_3);
}

header{
    width: 954px;
    height: 132px;
    margin: auto;
    border: 1px solid black;
}

nav{    
    font: normal 400 1em var(--fonte_padrão);     /* shorthand font: font-style -> font-weight -> font-size -> font-family*/
    background-color: #2c0d0d;;
    padding: 10px;
    transform: translate(0%, -15%);

}

nav a{
    text-decoration: none;      /* tira o sublinhado*/
    margin-right: 30px;
    color: white;
}

header>img{
    width: 100%;
    
}


main{
    width: 915px;
    margin: auto;
    border: 1px solid var(--cor_4);
    padding: 20px;
    background-color: white;
}

#cardapio{
    float: left;
    width: 60%;
}
#cardapio>article{
    margin-bottom: 30px;
}
#cardapio ul{
    margin-left: 30px;
}
#apoio{
    
    height: 830px; 
    width: 300px;    
    text-align: center;
    float: right;
    
}

.fotos_apoio{
    
    margin-bottom: 20px;
}

.separador{
    clear:both; 
}

footer{ 
    width: 947px;
    margin:0 auto; 
    font-size:0.75em; 
    text-align:center; 
    background-color: var(--cor_1); 
    color: white;
    padding:5px
}