@charset "utf-8";

:root{      /* declaração de variáveis*/
    
    --fonte_header: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    --cor_0:  #262217;
    --cor_1: #B5873F;
    --cor_2: #227115;
        

    
}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/ 
}

body{
    
}

/*INÍCIO HEADER*/
header{
    background-color: var(--cor_0);
    height: 100px;
    font-family: var(--fonte_header);
}

#cabecalho{
    padding: 15px 15px 0px 15px;
    
   

}

#logo{
    float: left;
    height: 21px;
    width: 248px;
    text-indent: -9999px;       /*o texto é mostrado apenas se o .CSS não for carregado*/
    display: block;
    background-image: url(../img/logo.png);
    border: 1px solid black;
    
}

header ul{
    width: 50%;
    float: right;
    display: flex;
    list-style: none;           /* apaga os marcadores*/
    flex-wrap: wrap;    /*define quebra de layout*/
    justify-content: center;      /*alinhamento horizontal das box*/
}

header li{
    flex-direction: row;
    margin-left: 15px;
    flex-grow: 1;       /*define um crescimento da box filha proporcional ao tamanho da box pai*/
    
}

header a{
    text-decoration: none;
    color: var(--cor_1);
}


header a:hover{
    color: var(--cor_2);
    border-bottom: 1px solid var(--cor_2);
}


/*FIM HEADER*/

/*INÍCIO MAIN*/
main{
   
    padding: 20px 15px 0px 15px;
    border: 1px dashed black;
}


#conteudo{
    float: left;
    width: 60vw;
    border: 1px dashed black;
}

#postagem article{
    float: left;
}

#conteudo img{
    width: 100%;
}

aside{
    float: right;
    background-color: #ebe7dd;
    width: 30vw;
    padding-bottom: 30px;
    border: 1px dashed black;
}

aside img{
    width: 100%;
}

#visita{
    background-color: #cdc8b1;
    margin-top: 10px;
    padding: 10px 30px 30px 30px;
}

aside h2{
    color: #86521a;
    text-transform: uppercase;
    font-size: 1.2em;
}

#fotos{
    margin: 20px;
    
}

#fotos img{
    margin: auto;
    
}

#fotos a{
    height: 93px;
    width: 93px;
    display: block;
    background-image: url(../img/fundo-foto.png);
    background-repeat: no-repeat;
    float: left;
    padding: 15px;

}


/*FIM MAIN*/