@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{      /* declaração de variáveis*/
    --fonte_padrão: Verdana, Geneva, Tahoma, sans-serif;
    --fonte_destaque: 'Passion One', cursive;
    --fonte_main: 'Sriracha', cursive;
    
}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/
    font-size: 1em;
}

html, body{     /* configurações em comum para html e body*/
    background-color: darkgray;
    font-family: var(--fonte_padrão);

    
}

header{
    background-color: black;
    color: white;
    text-align: center;
    min-height: 150px;
    padding: 50px;
}

header h1{
    font-size: 10vw;            /* a fonte se adapta à largura da viewport*/
    font-family: var(--fonte_destaque);
    margin: 20px 0px 0px 0px;
    font-variant: small-caps;           /* transforma tudo em letras maiúsculas, mas as letras iniciais ficam maiores*/
    /*text-transform: uppercase;           transforma tudo em letras maiúsculas*/
}


nav a, footer a{
    text-decoration: none;
    font-weight: bolder;
    font-weight: 600;
    color: white;
}

nav a:hover, footer a:hover{
    text-decoration: underline;
    
}

main{
    font-family: var(--fonte_main);
    font-size: 3vw;            /* a fonte se adapta à largura da viewport*/

}

section{
    
    line-height: 2em;       /*espaço entre as frases*/   
    padding-left: 30px;
    /* para criar um efeito paralax*/
    padding-top: 10vh;          
    padding-bottom: 10vh;    

}

section.normal{
    background-color: white;
    color: black;
}

section p{

    text-align: left;
    padding-bottom: 2em;        /* distancia entre os parágrafos*/

    
    
}


section.imagem1{
    /* caso a imagem de fundo seja muito pesada irá demorar para carrega-la (caso a conexão do usuário seja lenta), por isso sempre deve usar uma cor de fundo, para não ficar com o fundo branco.*/
    background-color: rgb(6, 34, 10); 

    text-shadow: 1px 1px 0px black;
    /*height: 100vh;       faz a box body ocupar 100% da viewport*/          
    background-image: url('../imagens/background001.jpg');
    background-position: right center;         /* faz uma âncora da imagem no centro da tela*/
    background-repeat: no-repeat;
    background-size: cover;          /* faz a imagem ocupar 100% da viewport e adapta o tamanho da imagem*/
    background-attachment: fixed;      /* mantém a imagem de fundo fixa ao rolar a barra de rolagem*/
    box-shadow: inset 5px 5px 10px 3px rgba(0, 0, 0, 0.274);      /*sombra interna. box-shadow: sombra interna, deslocamento horiz, deslocamento vert, blur (borrão) espalhamento (spread), cor da sombra*/

    
}

section.imagem2{
    /* caso a imagem de fundo seja muito pesada irá demorar para carrega-la (caso a conexão do usuário seja lenta), por isso sempre deve usar uma cor de fundo, para não ficar com o fundo branco.*/
    background-color: grey; 

    text-shadow: 1px 1px 0px black;
    /*height: 100vh;       faz a box body ocupar 100% da viewport*/          
    background-image: url('../imagens/background002.jpg');
    background-position: right center;         /* faz uma âncora da imagem no centro da tela*/
    background-repeat: no-repeat;
    background-size: cover;          /* faz a imagem ocupar 100% da viewport e adapta o tamanho da imagem*/
    background-attachment: fixed;      /* mantém a imagem de fundo fixa ao rolar a barra de rolagem*/
    box-shadow: inset 5px 5px 10px 3px rgba(0, 0, 0, 0.274);      /*sombra interna. box-shadow: sombra interna, deslocamento horiz, deslocamento vert, blur (borrão) espalhamento (spread), cor da sombra*/

}

section.imagem1 p, section.imagem2 p{
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    padding-left: 20px;
    width: 40vw;
}



footer{
    font-family: var(--fonte_padrão);
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}




