@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* incluindo fonte externa do google fonts*/

@font-face {        /* incluindo uma fonte externa*/
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf');       
    font-weight: normal;
    font-style: normal;
}

:root{      /* declaração de variáveis*/
    --fonte_padrão: Arial, Helvetica, sans-serif;
    --fonte_destaque: 'Bebas Neue', cursive;
    --fonte_android: 'Idroid';

    --cor_0:  #84E1AD;
    --cor_1:  #3CD782;
    --cor_2: #7ad8a47e;
    --cor_3:  #1A5C38;
    --cor_4:  #1a5c3879;



}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/
}

body{
    font: normal 500 1em var(--fonte_padrão);     /* shorthand font: font-style -> font-weight -> font-size -> font-family*/    
    background-color: var(--cor_0);
    
}

header{
    font-family: var(--fonte_destaque);
    height: 150px;          /*  para o degrade ocupar o header inteiro*/
    background-image: linear-gradient(to bottom, var(--cor_1), var(--cor_3));   /* gradiente do header*/
    color: white;    
    text-align: center;
    text-shadow: 2px 2px 2px var(--cor_4);          /*cria uma sombra no texto*/
    box-shadow: 5px 3px 7px 1px var(--cor_4);       /* sombra da box header*/
    
}

nav{
    text-align: left;
}

nav > a{
    text-decoration: none;      /* remove o sublinhado do link*/
    color: white;
    padding: 11px 40px;
}

nav > a:hover{              /* configurações quando o mouse passa por cima do link*/
    text-decoration: underline;     /* acrescenta sublinhado*/
    color: black;
    background-color: var(--cor_0);
}

main{

}

section{
    background-color: white;
    margin: 0px 100px 0px 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;           /* arredondamento da box section*/
    box-shadow: 0px 2px 7px 3px var(--cor_4);
    text-align: justify;    /* alinhamento justificado*/
    text-indent: 30px;      /* identação do parágrafo*/
}

article > h1{
    font: normal 800 1.5em var(--fonte_android), sans-serif;     /* shorthand font: font-style -> font-weight -> font-size -> font-family*/
    color: var(--cor_3);
}

article > h2{
    font: normal 700 1em var(--fonte_android), sans-serif;     /* shorthand font: font-style -> font-weight -> font-size -> font-family*/
    color: var(--cor_3);
    background-image: linear-gradient(to right, var(--cor_2), white);
}

strong{
    color: var(--cor_3);
}

ul{
    display: inline-block;        /* modo de caixas inline, para mostrar as caixas de 'ul' na mesma linha */
    margin: 0px 30px 0px -30px;
}

li::before{
    content: '⇒ ';
}

article > img{
    margin: auto;
}

#video{
    padding: 10px 20px;
    margin: 0px -10px;
    background-color: var(--cor_3);
}

#video > iframe{
    margin: auto;
}

aside{
    padding: 0px 10px 10px 10px;
    background-color: var(--cor_2);
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 7px 3px var(--cor_4);
}



h3{
    background-color: var(--cor_1);
    color: white;
    font-weight: 600;
    font-size: 0.8em;
    margin: 0px -10px;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor_3);
    color: white;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 5px 0px;
}
 
#foot{
    color: white;
}