@charset "utf-8";

:root{      /* declaração de variáveis*/
    
    --fonte_padrão: Helvetica, 'Trebuchet MS', sans-serif;
    --cor_0:  #fff;
    --cor_1: #ede9cc;
    --cor_2: #dbcd87;
    --cor_3: #b5ab56;
    --cor_4: #8b8448;
    --cor_5: #a29750;
    --cor_6: #fff5b0;
    --cor_7: #6e672c;
    --cor_8: #ede9d9;
    --cor_9: #e1d7ac;
    --cor_10: #7d7640;
    --cor_11: #f3efcb;
    --cor_12: #615b2d;

    
}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/ 
}
body{
    font-family: var(--fonte_padrão);
    background-color: var(--cor_0);
    background-image: url(../imagens/bg.png);
}


/*INÍCIO HEADER*/

header{
    background: var(--cor_1);
    height: 15.4em;
    min-height: 250px;
    position: relative;      /* qualquer valor diferente de 'static' (posicionamento padrão das caixas) irá ancorar o posicionamento de qualquer box filha que tenha posicionamento 'absolute'*/
    min-width: 600px;
    max-width: 1180px;
    margin: 0px auto;

}

div#logo{
    height: 100%;
    width: 100%;
    position: absolute;         /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    z-index: 1;

}

div#logo a{
    top: 15px;
    left: 15px;
    position: relative;             /* permite transladar um box sem alterar o posicionamneto das de mais*/
    z-index: 3;
}

div#logo img{
    width: 151px;
    height: 66px;
}

nav{
    float: right;
    height: 100%;
    width: 450px;
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    top: 0;
    right: 0px;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    z-index: 2;
    
}

section#conteudo{
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    transform: translate(0%, 0%);
    right: 0px;
    height: 90%;
    width: 355px;
    margin-top: 15px;
    
}

#conteudo p:first-child{     /* alterações apenas para a primeira box filha*/
    
    font-size: 0.8em;
    border-top: 1px solid var(--cor_3);
    border-bottom: 1px solid var(--cor_3);
    color: var(--cor_4);
    padding: 10px 0px;
    margin-bottom: 30px;
    
}
 
#conteudo span #reserva{
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    top: 0px;
    right: 0px;
    text-decoration: none;
    background-color: var(--cor_5);
    color: var(--cor_6);
    padding: 11px 10px;
}

#conteudo span a{
    text-decoration: none;
    color: var(--cor_4);
}

#conteudo #reserva{
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    top: 0px;
    right: 0px;
    text-decoration: none;
    background-color: var(--cor_5);
    color: var(--cor_6);
    padding: 11px 10px;
}

#nav{
    width: 130px;
    list-style: none;           /* apaga os marcadores*/
}

#nav a{
    text-decoration: none;
    color: var(--cor_7);
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 5px;
}

#nav a:hover{
    background-color: var(--cor_8);
    padding: 5px;
}


#conteudo img{
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    right: 0px;
    top: 50px;
    width: 266;
    height: 164;
}
/*FIM HEADER*/
/************/
/*INÍCIO MAIN*/
h1{
    color: var(--cor_10);
    line-height: 30px;

}

h2{
    color: var(--cor_12);
    font-size: 1.1em;
    line-height: 30px;

}

main p{
    font-size: 1em;
    padding-bottom: 10px;

}
main{
    background-color: var(--cor_8);
    min-width: 600px;
    max-width: 1180px;
    margin: 0px auto;
    overflow: hidden;   /* elimina a distinção entre a flutuação das caixas fultuantes e sua box pai, mantendo tudo numa mesma delimitação*/
    position: relative; /* qualquer valor diferente de 'static' (posicionamento padrão das caixas) irá ancorar o posicionamento de qualquer box filha que tenha posicionamento 'absolute'*/
    background-image: url(../imagens/bg-area-principal.png);
    background-position: top left;
    background-repeat: repeat-x;
   

}

article{
    padding: 15px;
    height: 100%;
}

article#principal{ 
    width: 47%;
    background-color: var(--cor_8);
    background-image: url(../imagens/bg-area-principal.png);
    background-position: top left;
    background-repeat: repeat-x;

}

article#anexo{
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    top: 0px;
    right: 0px;
    width: 47%;    
    background-color: var(--cor_9);
    background-image: url(../imagens/bg-area-lateral.png);
    background-position: top left;
    background-repeat: repeat-x;
}

#anexo img{
    width: 150px;
    margin-right: 8px;
    float: left;
}

#anexo ul{
    list-style: none;           /* apaga os marcadores*/
}

#anexo li{
    border-bottom: 1px solid var(--cor_11);
    padding: 8px;
    height: 6em;   
    background-image: url(../imagens/ornamento.png);
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;           /* não deixa o conteudo vazar da box*/
}

#anexo li:hover{
    background-color: var(--cor_11);
    cursor: pointer;
   
}

/*FIM MAIN*/
/*************/
/*INÍCIO FOOTER*/
footer{
    margin: 0px auto;
    background-image: url(../imagens/bg-rodape.png);
    background-position: top;
    background-repeat: repeat-x;
    text-align: center;
    padding: 5px;
}
/*FIM FOOTER*/