@charset "utf-8";

:root{      /* declaração de variáveis*/
    
    --fonte_padrão: Helvetica, 'Trebuchet MS', sans-serif;
    --cor_0:  #fff;
    --cor_1: #ede9cc;
    --cor_2: #dbcd87;
    
}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/ 
}

body{
    font-family: var(--fonte_padrão);
    background-color: var(--cor_0);
    background-image: url(../imagens/bg.png);
}

header{
    background: var(--cor_1);
    height: 15.4em;
    min-height: 250px;
    position: relative;
    min-width: 600px;
    max-width: 1180px;
    margin: 0px auto;
    border: 1px solid black;

}

div#logo{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    z-index: 1;

}

div#logo a{
    top: 15px;
    left: 15px;
    position: relative;
    z-index: 3;
}

div#logo img{
    width: 151px;
    height: 66px;
}

nav{
    border: 1px solid black;
    float: right;
    height: 100%;
    width: 450px;
    position: absolute;
    top: 0;
    right: 0px;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    z-index: 2;
}

section#conteudo{
    position: absolute;
    transform: translate(0%, 0%);
    right: 0px;
    height: 90%;
    width: 355px;
    margin-top: 15px;
    border: 1px solid black;
    background-color: aqua;
}

main{
    clear: both;
}