@charset "utf-8";

:root{      /* declaração de variáveis*/
    
    --fonte_padrão: Helvetica, 'Trebuchet MS', sans-serif;
    --cor_0:  #fff;
    --cor_1: #ede9cc;
    --cor_2: #dbcd87;
    --cor_3: #b5ab56;
    --cor_4: #8b8448;
    --cor_5: #a29750;
    --cor_6: #fff5b0;
    
}

*{      /* siguinifica todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/ 
}

body{
    font-family: var(--fonte_padrão);
    background-color: var(--cor_0);
    background-image: url(../imagens/bg.png);
}

header{
    background: var(--cor_1);
    height: 15.4em;
    min-height: 250px;
    position: relative;      /* qualquer valor diferente de 'static' (posicionamento padrão das caixas) irá ancorar o posicionamento de qualquer box filha que tenha posicionamento 'absolute'*/
    min-width: 600px;
    max-width: 1180px;
    margin: 0px auto;

}

div#logo{
    height: 100%;
    width: 100%;
    position: absolute;         /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    z-index: 1;

}

div#logo a{
    top: 15px;
    left: 15px;
    position: relative;             /* permite transladar um box sem alterar o posicionamneto das de mais*/
    z-index: 3;
}

div#logo img{
    width: 151px;
    height: 66px;
}

nav{
    float: right;
    height: 100%;
    width: 450px;
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    top: 0;
    right: 0px;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    z-index: 2;
    
}

section#conteudo{
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    transform: translate(0%, 0%);
    right: 0px;
    height: 90%;
    width: 355px;
    margin-top: 15px;
    border: 1px solid black;
    
}

#conteudo p:first-child{     /* alterações apenas para a primeira box filha*/
    
    font-size: 0.8em;
    border-top: 1px solid var(--cor_3);
    border-bottom: 1px solid var(--cor_3);
    color: var(--cor_4);
    padding: 10px 0px;
}

#conteudo span{
    

}
 
#conteudo a{
    position: absolute;     /* se posiciona em relação à tela, ou à box pai caso essa seja position: relative;*/
    top: 0px;
    right: 0px;
    text-decoration: none;
    background-color: var(--cor_5);
    color: var(--cor_6);
    padding: 11px 10px;
}

main{
    clear: both;
}